@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

html {
  background: #7A9E9F;
}

nav {
  display: none;
}

aside {
    position: fixed;
    width: 200px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #4F6367;
    text-align: center;
    padding: 20px;
}

main {
    margin-right: 200px;
    height: 100%;
    width: auto;
    position: relative;
    z-index: 1;
}

#circle {

}

.data-box-container{
  text-align: center;
}

.data-box {
  display: inline-block;
  margin: 20px;
  /*flex-direction: row;
  align-content: center;*/
}

h1 {
    border: 1px #B8D8D8 solid;
    width: 150px;
    background: #B8D8D8;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    color: #4F6367;
    margin: 0 auto;
    margin-top: 30px;
}

.content {
    width: 90%;
    height: 100%;
    position: relative;
    background: #7A9E9F;
}

.photo {
  margin-top: 35%;
}

.calendar-container{
  margin-top: 80px;
}
.boxes {
    width: 13%;
    float: right;
    color: #7A9E9F;
    padding: 5px 3px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}


/* Smartphones (portrait) ----------- */
@media (max-width : 500px) {
/* Styles */
  html{
    background: #4F6367;

  }
  aside {
    display: none;
  }

  nav{
    padding: 20px;
    display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #4F6367;

  }

  .nav-button{
    display: inline-block;
    padding-top: 10px;
    height: 30px;
    border: 1px solid silver;
    width: 100px;
  }

  main {
      margin: auto;
      background: #4F6367;
      height: 100%;
      z-index: 1;
  }


  .data-box-container{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #circle{
    width: 100px;
  }

  .data-box {
    display: inline-block;
    margin: 10px;
    /*flex-direction: row;
    align-content: center;*/
  }

  h1 {
      margin: 0 auto;
  }

  .content {
    background: #4F6367;
      width: 100%;
      position: relative;
  }

  .photo {
    width: 30%
  }

  .calendar-container{
    display: flex;
    margin-top: 50px;
  }

  .boxes {
    width: 30%;
      float: none;
      background: #4F6367;
      padding: 0px;
  }

  h2 {
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 25px;
      margin-top: 40px;
      margin-bottom: 20px;
  }

}
